<% include header %>

<h2><a href="/"><< back to</a> The main page</h2>
<h3>Movie site by <a href="/about">Dennis Vermeiren</a></h3>

<h2>Tough Luck</h2>

<section>
  <p>The page you are looking for has not been found</p>
</section>

<% include footer %>
